.container-img{
    display: none;
    
   
   }
   .container-post{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    
   }


@media (min-width: 767px) {
.container-main {
 display: flex;
 width: 100%;

 
}
.container-post{
 display: flex;
 width: 65%;
 height: auto;
 flex-direction: column;
 align-items: center;
 
}
.container-show{
 width: auto;
}

.container-img{
background-size: cover;
display: flex;
width: 30%;
align-items: center;
flex-direction: column;
margin-top: 2rem;
height: fit-content;
color: black;
position: fixed;
left: 65%;

}

.container-menu{
width: 18%;
display: flex;
padding-top: 2rem;
justify-content: center;

}
.container-menu ul li{
    list-style:none;
}
.container-menu i{
    padding-right: .5rem;
    padding-top: 1rem;
}

.container-img p{
    padding: 2rem;
}

.plan-img{
    width: 80%;
    height: 30vh;
    border-style: ridge;
    
}


}
