*{
    padding: 0%;
    margin: 0%;
}

.login{
    background-image: url(../../img/fondo-registro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}