*{
    padding: 0%;
    margin: 0%;
}
.login{
    background-image: url(../../img/fondo-registro.jpg);
    background-position: left !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
   
}
.button-modal{
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: 9rem;
    text-align: left;
  
}
.container-form{
   flex-direction: column;
   padding-left: 1.2em;
   padding-top: 2rem;
   display: flex;
}
.user-inputs {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 1rem;
}
.button{
    background:#1E8DF4 ;
    color: white;
    margin-top: 1rem;
    margin-right: 2.5rem;
    height: 2rem;
    width: 16rem;
    border-radius: 10px;
    border: none;
}
  .container-form p{
    padding-right: 4rem;
    padding-top: 2rem;
}
  
.img-logo{
    width: 10rem; 
    height: 5rem;
    padding-top: 1rem;
    padding-left: 2rem;
}
 .social-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logos{
  margin-left: 2rem;
  margin-right: 2.5rem;
}

@media (min-width: 767px)  {

.container-form{
    display: flex;
    justify-content:center;
    padding-top: 5rem;
    align-items: center;
    width: 45%;
}


 .user-inputs p{
   text-align: center;
   padding-left: 2.5rem;
}


/* modal */

.button-modal{
    font-size: 20px;
    width: 9rem;
    text-align: center;
   
}
/* logo */
.img-logo{
   width: 19rem; 
   height: 7rem;
   padding-right: 1.5rem;
}
.button{
   border-radius: 10px;
   margin-left: 1rem;
   margin-top: 1rem;
   height: 2rem;
   width: 16rem;
   border: none;
}


.social-logo{
    display: flex;
  
}
.logos{
    margin-right: 3rem;
    margin-left: 2rem;
}


}