.home-input{
width: 40rem;
height: 10vh;
resize: none;

}
.home-body{
height: auto;

}



.text-header{
background: #f5f6f7;
margin-top: 3rem;
height: 2rem;
font-weight: bold;
align-items: center;
border: 1px solid rgb(173, 177, 173);

}

.home-input::-webkit-scrollbar {
    -webkit-appearance: none;
}

.home-input::-webkit-scrollbar:vertical {
    width:5px;
}


.home-input::-webkit-scrollbar-thumb {
    background-color: #539dbb;
    border-radius: 20px;

}

.home-input::-webkit-scrollbar-track {
    border-radius: 10px;  
}