.card img{
   height: 30vh;
   width: 100%;
}
.card{
   margin-top: 1rem;
   background-color: #ECF3FF !important;
}
.img-user{
   width: 50px !important;
   height: 50px !important;
   border-radius: 100%;
}
.mb-4{
  display: flex;
  padding-left: 2rem;
  border: 1px solid #e7e6e6;
}
.mb-4 p{
margin-left: 1rem;
color:#385898;
font-weight: bold;;
font-size:20px;
}

@media (min-width: 767px) {

.card img{
   height: 50vh;
   width: 100%;
}
.col-md-4 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   background: red;
}
.col-md-4 h5{
   padding-left: 2rem;
   padding-top: 1rem;
   display: flex;
}

.card {
 width: 45rem;
 margin-top: 1rem;
 background-color: #fffff1 !important;


}

.card-columns {
 column-count: 4;
 column-count: 5;
   
 }
 .material-icons{
   padding-left: 2em;
 }
 .img-user{
    width: 50px !important;
    height: 50px !important;
    border-radius: 100%;
 }
 .mb-4 {
   display: flex;


 }
 
}