.card img{
   height: 30vh;
   width: 100%;

     
}
.card{
   margin-top: 2rem;
}

@media (min-width: 767px) {

.card img{
   height: 50vh;
   width: 100%;
}
.col-md-4 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   background: red;
}
.col-md-4 h5{
   padding-left: 2rem;
   padding-top: 1rem;
   display: flex;
}

.card {
 width: 40rem;
 margin-top: 1rem;
 background-color: azure;
 margin-top: 2rem;

}

.card-columns {
 column-count: 4;
 column-count: 5;
   
 }
 .material-icons{
   padding-left: 2em;
 }
}